section.content_page-1
  padding: 15px 0 35px 0

  .catalog
    width: 100%
    flex: 0 1 100%
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    .catalog-title
      flex: 1 100%
    .catalog__list
      display: flex
      flex-flow: column
      flex: 0 2 370px
      .catalog__list--item
        padding: 0 30px 0 18px
        a
          display: flex
          justify-content: space-between
          &::before
            display: none
        .total
          color: rgb(59, 84, 232)

.advertising
  border: 20px solid #fff
  margin-bottom: 30px
